<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="@Assets["NekoLoto6.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="apple-touch-icon" href="favicon.png" />
</head>

<body>
    <div id="app">読み込み中...</div>
    <script src="_framework/blazor.webassembly.js"></script>
</body>

</html>
